.credential {
  list-style: none;
  margin: 1em auto;
  background-color: rgb(217, 255, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  margin: 2em;
  padding: 0;
  border-radius: 30%;
}
.li {
  padding: 1em;
  margin: 0;
}
.deletebutton {
  background-color: darkmagenta;
  color: darkmagenta;
}
